# file patterns --------------------------

**/.DS_Store
**/.nosearch
**/*.tar
**/.smex*
**/session.*
**/ido.last
**/places
**/recentf
**/ac-comphist.dat
**/.bm-repository
**/projectile.cache
**/projectile-bookmarks.eld
**/pg_hba.conf
**/#*.*#
**/.yas-compiled-snippets.el
**/ac-comphist.dat
**/.netrwhist
**/deoplete.log

# top level ------------------------------

**/.config/**/
tmp/*
alfred/
dash/
.authinfo
.directory
.gnus
.viminfo
en.utf-8.add
en.utf-8.add.sql
.vim-fuf-data/
nvim/.deoplete/deoplete.log

# .vim directory -------------------------

.vim/.netrwbook
.vim/.netrwhist
.vim/dict.txt
.vim/bundle/
.vim/colors/
**/.vim/plugged/

# git submodules ------------------------

#dot-emacs/
#dot-nvim/
#dot-tmux/
#dot-vifm/
#dot-vim
#dot-zsh

# individual files -----------------------

/.vim/bundle.zip
