tmp/*
alfred/
dash/
.netrwbook
.netrwhist
.viminfo
dict.txt
bundle/
en.utf-8.add
en.utf-8.add.sql
.vim-fuf-data/
.vim/colors/

elpa/
auto-save-list/
backup/
backups/
eshell/
modules/
snippets-default/
var/

.DS_Store

starter-kit-2.*
*.tar

.smex*
session.*
places*
pg_hba.conf

#*#
*/#*#

bookmarks
COPYING
.org-id-locations
/snippets-default   
.emacs.d/tramp
.emacs.d/ede-projects.el
.emacs.d/recentf
.emacs.d/.mc-lists.el
.emacs.d/ido.last
.emacs.d/oauth2.plstore
.emacs.d/t430/
.emacs.d/s430/
