[submodule "dot-emacs"]
	path = dot-emacs
	url = git@github.com:gcman105/dot-emacs.git
[submodule "dot-zsh"]
	path = dot-zsh
	url = git@github.com:gcman105/dot-zsh.git
[submodule "dot-nvim"]
	path = dot-nvim
	url = git@github.com:gcman105/dot-nvim.git
[submodule "dot-tmux"]
	path = dot-tmux
	url = git@github.com:gcman105/dot-tmux.git
[submodule "dot-vifm"]
	path = dot-vifm
	url = git@github.com:gcman105/dot-vifm.git
[submodule "dot-vim"]
	path = dot-vim
	url = git@github.com:gcman105/dot-vim.git
[submodule "dot-muttmail"]
	path = dot-muttmail
	url = git@github.com:gcman105/dot-muttmail.git
