# file patterns --------------------------

**/.DS_Store
**/*.tar
**/.smex*
**/session.*
**/ido.last
**/places
**/pg_hba.conf
**/#*#

# top level ------------------------------

tmp/*
alfred/
dash/
.authinfo
.directory
.gnus
.viminfo
en.utf-8.add
en.utf-8.add.sql
.vim-fuf-data/

# .vim directory -------------------------

.vim/.netrwbook
.vim/.netrwhist
.vim/dict.txt
.vim/bundle/
.vim/colors/

# .emacs.d directory ---------------------

.emacs.d/elpa/
.emacs.d/auto-save-list/
.emacs.d/backups/
.emacs.d/cloned/
.emacs.d/el-get
.emacs.d/snippets-default/
.emacs.d/url/
.emacs.d/var/
.emacs.d/tramp
.emacs.d/ede-projects.el
.emacs.d/recentf
.emacs.d/.mc-lists.el
.emacs.d/ido.last
.emacs.d/oauth2.plstore
.emacs.d/t430/
.emacs.d/s430/
.emacs.d/Garys-Mac-mini/
.emacs.d/gcman105-Z87X-D3H/
