appdirs==1.4.4
astroid<=2.5,>=2.4.0
attrs==19.3.0
autopep8==1.5.3
black==19.10b0
click==7.1.2
distlib==0.3.1
entrypoints==0.3
filelock==3.0.12
flake8==3.8.3
future==0.18.2
greenlet==0.4.16
importlib-metadata==1.7.0
isort<5,>=4.2.5
jedi<0.18.0,>=0.17.2
lazy-object-proxy==1.4.*
mccabe==0.6.1
more-itertools==8.4.0
msgpack==1.0.0
packaging==20.4
parso==0.7.1
pathspec==0.8.0
pluggy==0.13.1
py==1.9.0
pycodestyle>=2.6.0
pydocstyle==5.0.2
pyflakes==2.2.0
pylint==2.5.3
pyls==0.1.6
pynvim==0.4.2
pyparsing==2.4.7
pytest==5.4.3
python-jsonrpc-server==0.3.4
python-language-server==0.34.1
regex==2020.7.14
rope==0.17.0
six==1.15.0
snowballstemmer==2.0.0
toml==0.10.1
tox==3.18.1
typed-ast==1.4.1
ujson<=1.35
virtualenv==20.0.28
wcwidth==0.2.5
wrapt==1.12.1
yapf==0.30.0
zipp==3.1.0
