snippet mli "markdown inline link" w
[${1:text}](http://${2:www.radi8.co.uk/} "${3:title}") $0
endsnippet

snippet mlr "markdown reference link" w
[${1:text}][${2:ref}] $0
endsnippet

snippet mll "markdown reference label" b
[${1:label}]: http://${2:www.radi8.co.uk}/ "${3:title}" $0
endsnippet

snippet mhr "markdown horizontal rule" b
${1:---------------------------------------}
$0
endsnippet

